# Requires env vars from .env (see example.env). Load with: npm run install:with-registry
@atomchat-io:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${ATOMCHAT_NPM_AUTH_TOKEN}

# FontAwesome private registry
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}
