@use '@atomchat-io/ui-design-system/src/styles/scss/config' with (
  $atom-prefix: '',
  $use-important: true,
  $atom-dark-mode-class: 'atom-dark-mode'
);

@use '@atomchat-io/ui-design-system/src/styles/scss/atom-theme';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  height: 100dvh;
}

body {
  height: 100%;
  height: 100dvh;
  margin: var(--spacing-none);
  padding: var(--spacing-none);
  overflow: hidden;
  font-family: var(--font-family-primary);
  background-color: var(--bg-primary);
  color: var(--fg-primary);
  color-scheme: light;
}

app-root {
  display: block;
  height: 100%;
}

body.atom-dark-mode {
  color-scheme: dark;
}
