@use '@atomchat-io/ui-design-system/src/styles/scss/config' with (
  $atom-prefix: '',
  $use-important: true,
  $atom-dark-mode-class: 'atom-dark-mode'
);

@use '@atomchat-io/ui-design-system/src/styles/scss/atom-theme';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  min-height: 100dvh;
}

body {
  min-height: 100%;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-primary);
  background-color: var(--bg-primary);
  color: var(--fg-primary);
}

app-root {
  display: block;
  min-height: inherit;
}

body {
  color-scheme: light;
}

body.atom-dark-mode {
  color-scheme: dark;
}
